Repository macorman06/heres: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,css,md}": [
    "prettier --write"
  ]
}

ci: añadir workflow de lint para GitHub Actions
  .github/workflows/lint.yml
  .husky/pre-commit
Due: none

major fix: fix all ESLint errors and use tokenManager.ts in all code
  src/components/auth/LoginForm.tsx
  src/components/common/MemberCard.tsx
  src/components/common/ThemeToggle.tsx
  src/components/common/UserFormDialog.tsx
  src/components/dashboard/DailyCards.tsx
  src/components/dashboard/ScheduledActivities.tsx
  src/components/layout/Topbar.tsx
  src/components/members/UserDialog.tsx
  src/hooks/useApi.ts
  src/hooks/useAuth.tsx
  src/pages/Members.tsx
  src/pages/ProfilePage.tsx
  src/services/api.ts
  src/services/api/config/apiConfig.ts
  src/services/api/core/errorHandler.ts
  src/services/api/core/httpClient.ts
  src/services/api/core/requestDeduplication.ts
  src/services/api/index.ts
  src/services/api/services/authService.ts
  src/services/api/services/groupService.ts
  src/services/api/services/userService.ts
  src/services/auth/tokenManager.ts
  src/types/api.types.ts
Due: eslint --fix, prettier --write

update: change branch name in CI lint.yml
  .github/workflows/lint.yml
Due: none

feat: qr register QRRegisterMember.tsx and PrivacyPolicy.tsx
  index.html
  src/App.tsx
  src/pages/PrivacyPolicy.tsx
  src/pages/QRRegisterMember.tsx
  src/pages/index.ts
  src/styles/PrivacyPolicy.css
  src/styles/QRRegisterMember.css
  src/types/options.ts
  src/types/qrform.types.ts
Due: eslint --fix, prettier --write

fix: all pages and refactor QRRegister
  src/App.tsx
  src/pages/QRRegisterMember.tsx
Due: eslint --fix, prettier --write

update: fix Content-Security-Policy _headers
  public/_headers
Due: none

update: URL API with SSL and without
  public/_headers
Due: none

hotfix: URL API
  .env.localhost
  .env.production
  src/services/api.ts
  src/services/api/config/apiConfig.ts
Due: eslint --fix, prettier --write

hotfix: ignore Proteccion XSS
  public/_headers
Due: none

hotfix: scroll responsive phone
  src/styles/QRRegisterMember.css
Due: prettier --write

hotfix: remove env file
  .env.production
Due: none

hotfix: apiConfig
  src/services/api/config/apiConfig.ts
Due: eslint --fix, prettier --write

hotfix: force ApiBaseUrl
  src/services/api/config/apiConfig.ts
Due: eslint --fix, prettier --write

hotfix: logs in httpClient
  public/_headers
  src/services/api/core/httpClient.ts
Due: eslint --fix, prettier --write

hotfix: _headers update
  public/_headers
Due: none

hotfix: remove _headers
  public/_headers
Due: none

hotfix: / at the end of usuarios/
  src/services/api.ts
Due: eslint --fix, prettier --write

hotfix:add .env
  .env
Due: none

hotfix: remove requestDeduplication
  src/services/api/core/requestDeduplication.ts
Due: eslint --fix, prettier --write

temp: add console logs
  src/hooks/useApi.ts
  src/hooks/useAuth.tsx
  src/services/api.ts
  src/services/api/core/errorHandler.ts
  src/services/api/core/httpClient.ts
  src/services/api/core/requestDeduplication.ts
  src/services/api/index.ts
  src/services/api/services/userService.ts
Due: eslint --fix, prettier --write

temp: add /
  src/services/api/services/userService.ts
Due: eslint --fix, prettier --write

temp: remove /
  src/services/api/services/userService.ts
Due: eslint --fix, prettier --write

fix: update endpoints
  src/services/api/services/userService.ts
Due: eslint --fix, prettier --write

update: add / at the end of the url
  src/services/api/services/userService.ts
Due: eslint --fix, prettier --write

update: add /list and /create to users endpoints
  src/services/api/services/userService.ts
Due: eslint --fix, prettier --write

feat: new page Ranking.tsx
  src/App.tsx
  src/pages/Ranking.tsx
  src/pages/index.ts
  src/services/api/services/userService.ts
  src/types/user.types.ts
Due: eslint --fix, prettier --write

update: ESLint remove warning any
  eslint.config.js
Due: none

update: sidebar with user role
  public/salesianos_sticker.png
  src/components/layout/Sidebar.tsx
  src/components/layout/Topbar.tsx
  src/services/api.ts
  src/services/api/index.ts
  src/types/menu_items.ts
Due: eslint --fix, prettier --write

update: Dashboard.tsx no autorizado
  src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

refactor: minor change in padding daily cards
  src/components/dashboard/DailyCards.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

refactor: paginator ranking deleted
  src/App.tsx
  src/pages/Ranking.tsx
Due: eslint --fix, prettier --write

feat: login confirm account
  src/App.tsx
  src/components/auth/LoginForm.tsx
  src/pages/ActivateAccount.tsx
  src/pages/QRRegisterMember.tsx
  src/pages/index.ts
  src/styles/QRRegisterMember.css
  src/styles/login.css
  src/types/qrform.types.ts
Due: eslint --fix, prettier --write

feat: group and section
  src/pages/QRRegisterMember.tsx
  src/styles/QRRegisterMember.css
Due: eslint --fix, prettier --write

feat: styles and groups
  src/App.tsx
  src/components/auth/LoginForm.tsx
  src/pages/Grupos.tsx
  src/pages/PrivacyPolicy.tsx
  src/pages/QRRegisterMember.tsx
  src/pages/Ranking.tsx
  src/styles/1-base/fonts.css
  src/styles/1-base/variables.css
  src/styles/2-core/typography.css
  src/styles/3-components/avatar.css
  src/styles/3-components/badge.css
  src/styles/3-components/buttons.css
  src/styles/3-components/cards.css
  src/styles/3-components/dialogs.css
  src/styles/3-components/forms.css
  src/styles/3-components/menus.css
  src/styles/3-components/toast.css
  src/styles/4-pages/about.css
  src/styles/4-pages/grupos.css
  src/styles/4-pages/login.css
  src/styles/4-pages/privacy-policy.css
  src/styles/4-pages/profile.css
  src/styles/4-pages/qr-register.css
  src/styles/5-overrides/primereact-overrides.css
  src/styles/about.css
  src/styles/buttons.css
  src/styles/cards-dialogs.css
  src/styles/construction.css
  src/styles/dropdowns.css
  src/styles/fonts.css
  src/styles/grupos.css
  src/styles/inputs.css
  src/styles/menus.css
  src/styles/profile.css
  src/styles/toast.css
  src/styles/typography.css
  src/styles/variables.css
  src/types/general.types.ts
  src/types/qrform.types.ts
Due: eslint --fix, prettier --write

update: sort groups by name
  src/pages/Grupos.tsx
Due: eslint --fix, prettier --write

update:remove localhost harcoded in groups
  src/pages/Grupos.tsx
Due: eslint --fix, prettier --write

update: members view
  .env.production
  .gitignore
  package-lock.json
  package.json
  src/App.tsx
  src/components/dialog/UserEditDialog.css
  src/components/dialog/UserEditDialog.tsx
  src/components/members/UserDialog.tsx
  src/hooks/useApi.ts
  src/hooks/useAuth.tsx
  src/pages/Members.tsx
  src/pages/ProfilePage.tsx
  src/pages/Ranking.tsx
  src/services/api/config/apiConfig.ts
  src/services/api/core/httpClient.ts
  src/services/api/core/requestDeduplication.ts
  src/services/api/index.ts
  src/services/api/services/authService.ts
  src/services/api/services/groupService.ts
  src/services/api/services/userService.ts
  src/styles/3-components/avatar.css
  src/styles/3-components/badge.css
  src/styles/3-components/cards.css
  src/styles/3-components/forms.css
  src/styles/3-components/menus.css
  src/styles/4-pages/grupos.css
  src/styles/4-pages/members.css
  src/styles/4-pages/profile.css
  src/styles/5-overrides/primereact-overrides.css
  src/types/auth.types.ts
  src/types/general.types.ts
  src/types/index.ts
  src/types/menu_items.ts
  src/types/options.ts
  src/types/user.types.ts
  src/utils/formatters.ts
Due: eslint --fix, prettier --write
